<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/layouts/base_layout}">
<head>
    <title>Pensionat</title>
</head>
<body class="container-fluid">
<section layout:fragment="content">

<h1><p th:text="${titel}"/></h1>
<h2><p th:text="${kat}"/></h2>
<div id="maincontainer">
    <div class="row">
        <form th:action="@{/login/add}" method="post" th:object="${user}" style="max-width: 400px; margin: 0 auto;">
            <input type="hidden" th:field="*{id}">

            <div class="border border-secondary p-4 rounded">

                <p>
                    <input type="text" th:field="*{username}" name="username" class="form-control" placeholder="Username" required autofocus/>
                </p>
                <p>
                    <input type="password" th:field="*{password}" name="password" class="form-control" placeholder="Password" required />
                </p>
                <p>
                    <button type="submit" class="btn btn-md btn-primary">Spara</button>
                    <!--<a th:href="@{/login/add}" input type="submit" value="Registrera" class="btn btn-success">Confirm</a>-->
                </p>

            </div>
        </form>
    </div>
</div>

</section>
</body>
</html>

