<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/layouts/base_layout}">
<head>
    <title>Pensionat</title>
</head>
<body class="container-fluid">
<section layout:fragment="content">

<h1><p th:text="${titel}" /></h2></h1>
<h2><p th:text="'Alla ' + ${kat}" /></h2>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Kund</th>
        <th scope="col">Bokn.datum</th>
        <th scope="col">Rum</th>
        <th scope="col">Incheckning</th>
        <th scope="col">Utcheckning</th>
        <th scope="col">Gäster</th>
        <th scope="col">Total pris</th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="bokning : ${responseList}">
        <td th:text="${bokning.kund.förnamn} + ' ' + ${bokning.kund.efternamn}"></td>
        <td th:text="${bokning.bokningsDatum}"></td>
        <td th:text="${bokning.rum.nummer}"></td>
        <td th:text="${bokning.startDatum}"></td>
        <td th:text="${bokning.slutDatum}"></td>
        <td th:text="${bokning.antalGäster}"></td>
        <td th:text="${bokning.totalPris}"></td>
        <td><a th:href="@{/bokning/redigera/{id}(id=${bokning.id})}" class="btn btn-primary btn-sm">Ändra</a> </td>
        <td><a th:href="@{/bokning/delete/{id}(id=${bokning.id})}" class="btn btn-danger btn-sm">Ta bort</a> </td>
    </tr>
    </tbody>
</table>

</section>
</body>
</html>