<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/layouts/base_layout}">
<head>
    <title>Pensionat</title>
</head>
<body class="container-fluid">
<section layout:fragment="content">

    <h1>KontraktKunder</h1>

<!--div class="responseList" th:unless="${#lists.isEmpty(responseList)}"-->
<form method="GET">
    Search:
    <input type="text" name="q" th:value="${q}" />
</form>
<table class="table">
    <thead>
    <tr class="tabulator-row">

        <th >
            CompanyName
            <a th:href="@{|?q=${q}&sortCol=companyName&sortOrder=asc|}" class="listbutton">Asc</a>
            <a th:href="@{|?q=${q}&sortCol=companyName&sortOrder=desc|}" class="listbutton">Desc</a>


            <!--
            <a href="?sortCol=companyName&sortOrder=asc" class="listbutton">Asc</a>
            <a href="?sortCol=companyName&sortOrder=desc" class="listbutton">Desc</a>
            -->
        </th>
 <!--   det följande är ett sätt
        <th >
            ContactName
            <a href="?sortCol=contactName&sortOrder=asc"><i class="fa-solid fa-arrow-up-a-z"></i></a>
            <a href="?sortCol=contactName&sortOrder=desc"><i class="fa-solid fa-arrow-down-z-a"></i></a>
        </th>
-->

        <th >
            ContactName
            <a th:href="@{|?q=${q}&sortCol=contactName&sortOrder=asc|}" class="listbutton">Asc</a>
            <a th:href="@{|?q=${q}&sortCol=contactName&sortOrder=desc|}" class="listbutton">Desc</a>
        </th>

        <th >
            Country
            <a th:href="@{|?q=${q}&sortCol=country&sortOrder=asc|}" class="listbutton">Asc</a>
            <a th:href="@{|?q=${q}&sortCol=country&sortOrder=desc|}" class="listbutton">Desc</a>
        </th>



    </tr>
    </thead>
    <tbody>
    <tr th:each="contractCustomer : ${responseList}">
        <td th:text="${contractCustomer.companyName}"></td>
        <td>
            <a th:href="@{/contractCustomer/details/{id}(id=${contractCustomer.id})}" th:text="${contractCustomer.contactName}"></a>
        </td>
        <td th:text="${contractCustomer.country}"></td>
    </tr>
    </tbody>
</table>

</section>
</body>
</html>