<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/layouts/base_layout}">
<head>
    <title>Pensionat</title>
</head>
<body class="container-fluid">
<section layout:fragment="content">

<h1><p th:text="${titel}" /></h2></h1>
<h2><p th:text="'Välj ' + ${kat}" /></h2>
<!--div class="responseList" th:unless="${#lists.isEmpty(responseList)}"-->
<table class="table">
    <thead>
    <tr>
        <th scope="col">Namn</th>
        <th scope="col">Adress</th>
        <th scope="col">Mobil</th>
        <th scope="col">Email</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="kund : ${responseList}">
        <td th:text="${kund.förnamn} + ' ' + ${kund.efternamn}"></td>
        <td th:text="${kund.adress} + '-' + ${kund.stad}"></td>
        <td th:text="${kund.mobilnummer}"></td>
        <td th:text="${kund.email}"></td>
        <td><a th:href="@{/bokning/addkund/{id}(id=${kund.id})}" class="btn btn-success btn-sm">Boka</a> </td>
    </tr>
    </tbody>
</table>
<div class="d-grid gap-2 col-6 mx-auto mt-4">
    <a th:href="@{/kund/nyFrånBokning}" class="btn btn-primary btn-lg">Registrera Ny Kund</a>
</div>

</section>
</body>
</html>