<!--<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/layouts/base_layout}">
<head>
    <title>Pensionat</title>
</head>
<body class="container-fluid">
<section layout:fragment="content">

<h1><p th:text="${titel}"/></h1>
<h2><p th:text="${kat}"/></h2>
<div id="maincontainer">
    <div class="row">
        <form th:action="@{/login}" method="post" style="max-width: 350px; margin: 0 auto;">

            <div class="border border-secondary p-3 rounded">

                <p>
                    <input type="Username" name="email" class="form-control" placeholder="Username" required autofocus/>
                </p>
                <p>
                    <input type="password" name="password" class="form-control" placeholder="Password" required />
                </p>

                <p>
                    <input style="justify-content: center" type="submit" value="Login" class="btn btn-primary" />
                    <input style="justify-content: center" type="submit" value="Avbryt" class="btn btn-danger" />
                </p>
                <p>
                    <input type="submit" value="Registrera" class="btn btn-success" />
                </p>
            </div>
        </form>
    </div>
</div>

</body>
</html>-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/layouts/base_layout}">
<head>
    <title>Pensionat</title>
</head>
<body class="container-fluid">
<section layout:fragment="content">
<h1>Choose a New Password</h1>
    <div style="text-align: center">
        <div th:if="${param.error}">
            Invalid username and password.</div>
    </div>

<form th:action="@{/user/change-password}" method="post">
    <input type = "hidden" name = "token" th:value="${token}">
    <div style="text-align: center">
        <div>
            <label for="newPassword">Password</label>
            <input type="password" name="newPassword" id="newPassword" placeholder="New Password"/><!-- th:field="*{password}"-->
        </div>
        <div>
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Repeat Password"/><!-- th:field="*{confirmPassword}"-->
        </div>
        <input style="justify-content: center" type="submit" value="Update" class="btn btn-primary" />
        <td><a th:href="@{/}" class="btn btn-danger">Avbryt</a> </td>
    </div>

</form>
</section>
</body>
</html>