<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/layouts/base_layout}">
<head>
    <title>Pensionat</title>
</head>
<body class="container-fluid">
<section layout:fragment="content">

<div class="mt-3">
    <h1>Contract Customer Details</h1>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title" th:text="${contractCustomer.companyName}"></h5>
            <br>
            <p class="card-text"><strong>Contact Name:</strong> <span th:text="${contractCustomer.contactName}"></span></p>
            <p class="card-text"><strong>Contact Title:</strong> <span th:text="${contractCustomer.contactTitle}"></span></p>
            <p class="card-text"><strong>Address:</strong> <span th:text="${contractCustomer.streetAddress}"></span>, <span th:text="${contractCustomer.city}"></span></p>
            <p class="card-text"><strong>Postal Code:</strong> <span th:text="${contractCustomer.postalCode}"></span></p>
            <p class="card-text"><strong>Country:</strong> <span th:text="${contractCustomer.country}"></span></p>
            <p class="card-text"><strong>Phone:</strong> <span th:text="${contractCustomer.phone}"></span></p>
            <p class="card-text"><strong>Fax:</strong> <span th:text="${contractCustomer.fax}"></span></p>
            <a th:href="@{/contractCustomer/all}" class="btn btn-primary">Tillbaka</a>

        </div>
    </div>
</div>

</section>
</body>
</html>