<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/layouts/base_layout}">
<head>
    <title>Pensionat</title>
</head>
<body class="container-fluid">
<section layout:fragment="content">
    <h1 th:text="'Reset Password'">Reset Password</h1>

    <form th:action="@{/resetPassword}" method="post">
        <label for="email" th:text="'Type email'">Type email</label>
        <input id="email" name="email" type="email" value="" />
        <button type="submit" th:text="'Reset Password'">Reset Password</button>
    </form>

</section>
</body>
</html>