<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/layouts/base_layout}">
<head>
    <title>Pensionat</title>
</head>
<body class="container-fluid">
<section layout:fragment="content">

<h1><p th:text="${titel}"/></h1>
<h2><p th:text="${kat}"/></h2>
<div id="maincontainer">
    <div class="row">
        <form th:action="@{/login/blacklist}" method="post" style="max-width: 400px; margin: 0 auto;">

            <div class="border border-secondary p-4 rounded">

                <p>
                    <input type="text" name="username" class="form-control" placeholder="Username" required autofocus/>
                </p>
                <p>
                    <input type="password" name="password" class="form-control" placeholder="Password" required />
                </p>
                <p>
                    <button type="submit" value="Login" class="btn btn-primary">Login </button>
                    <input type="submit" value="Avbryt" class="btn btn-danger" />
                    <a th:href="@{/login/ny}" input type="submit" value="Registrera" class="btn btn-success">Lägg till</a>
                </p>

            </div>
        </form>

        <div th:if="${message}" class="alert alert-danger alert-dismissible fade show text-center" role="alert">
            <strong>Oj!</strong> <span th:text="${message}" />
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

    </div>
</div>

</body>
</html>

