<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/layouts/base_layout}">
<head>
    <title>Pensionat</title>
</head>
<body class="container-fluid">
<section layout:fragment="content">

<h1 th:text="'Ändra bokning #' + ${bokningsId}" > </h1><br>
<h2>Sök lediga rum:</h2><br>

<div id="maincontainer">
    <form th:action="@{/bokning/bytaRum/{id}(id=${bokningsId})}" method="post" id="searchForm2">
        <div class="row m-4">
            <div class="col">
                <label for="guests">Antal gäster:</label>
            </div>
            <div class="col">

                <!--div class="input-group mb-3"-->
                <div class="input-group">
                    <!--label class="input-group-text" for="inputGroupSelect01">Options</label-->
                    <select class="form-select" id="guests" name="guests">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row m-4">
            <div class="col">
                <label for="startDate">Incheckningsdatum:</label>
            </div>
            <div class="col">
                <div id="startdatepicker" class="input-group date" data-date-format="yyyy-mm-dd">
                    <input class="form-control" type="text" id="startDate" name="startDate" readonly />
                    <span class="input-group-addon">
                        <!--i class="glyphicon glyphicon-calendar"></i-->
                    </span>
                </div>
            </div>
        </div>
        <div class="row m-4">
            <div class="col">
                <label for="stopDate">Utcheckningsdatum:</label>
            </div>
            <div class="col">
                <div id="stopdatepicker" class="input-group date" data-date-format="yyyy-mm-dd">
                    <input class="form-control" type="text" id="stopDate" name="stopDate"  readonly />
                    <span class="input-group-addon">
                        <!--i class="glyphicon glyphicon-calendar"></i-->
                    </span>
                </div>
            </div>
        </div>
        <div class="row m-4">
            <div class="col">
            </div>
            <div class="col">
                <input type="submit" class="btn btn-md btn-success" value="Submit">
            </div>
            <div>
                <p id="error" th:text="${errorMessage}" />
            </div>
        </div>
    </form>
</div>

</section>
</body>
</html>