<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/layouts/base_layout}">
<head>
    <title>Events</title>
</head>
<body class="container-fluid">
<section layout:fragment="content">

    <h1><p th:text="${titel}" /></h2></h1>
    <h2><p th:text="${kat}" /></h2>
    <!--div class="responseList" th:unless="${#lists.isEmpty(responseList)}"-->
    <table class="table">
        <thead>
        <tr>
            <th scope="col"><p th:text="'Händelser i rum: ' + ${nummer}" /> </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="event : ${responseList}">
            <td th:text="${event}"></td>

            <!--td><a th:href="@{/kund/delete/{id}(id=${kund.id})}" class="btn btn-danger btn-sm">Ta bort</a> </td-->
        </tr>
        </tbody>
    </table>
    <div class="d-grid gap-2">
        <a th:href="@{/rum/all}" class="btn btn-primary btn-sm">Tillbaka</a>
    </div>
</section>
</body>
</html>